* {
    box-sizing: border-box;
}

body {
    background-color: #eef9bf;
}

.game-title {
    margin: 40px auto 47px auto;
    max-width: 1080px;
    text-align: center;
    text-justify: center;
    border: 1px dashed lightslategray;
}

.game-title h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #75b79e;
    font-size: 56px;
}

.main-content {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 1px dashed blue;
}

.card {
    width: 117px;
    height: 146px;
    margin: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
}

.card img {
    width: 100px;
    height: 100px;
}

/*--------------------------------------------------*/
/*
.card-frame {
    width: 100%;
    height: 100%;
    background-color: lightskyblue;// #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.flippable-card {
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.verso {
    transform: rotateY(180deg);
  }

.verso2 {
    transform: rotateY(0deg);
  }

.frente {
    transform: rotateY(-180deg);
  }

.black-bg {
    background-color: black;
    opacity: 0.75;
}


*/

/*--------------------------------------------------*/


@media (max-width: 335px) {
    .main-content {
        max-width: 335px;
        flex-direction: column;
    }
}