* {
    box-sizing: border-box;
}

body {
    background-color: #eef9bf;
}

.game-title {
    margin: 40px auto 47px auto;
    max-width: 1080px;
    text-align: center;
    text-justify: center;
    border: 1px dashed lightslategray;
}

.game-title h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #75b79e;
    font-size: 56px;
}

.main-container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: 1px dashed blue;
}

.card-slot {
    width: 119px;
    height: 148px;
    margin: 17px;
}

.card-frame {
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    backface-visibility: hidden;
    transition: all 500ms;
    transform-style: preserve-3d;
}

.card-frame img {
    width: 100px;
    height: 100px;
}

.back-down {
    transform: rotateY(180deg);
}

.front-down {
    transform: rotateY(-180deg);
}

.back-up {
    transform: rotateY(0deg);

}


/*--------------------------------------------------*/


@media (max-width: 335px) {
    .main-container {
        max-width: 335px;
        flex-direction: column;
    }
}